.transfer {
    text-align: center;
    margin-top: 50px;
}

/*Copied from w3schools: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    vertical-align: middle;
    margin-left: 0.8em;
    display:inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #61b842;
    border-bottom: 5px solid #61b842;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.transfer-address {
    width: 400px;
}

.transfer-value {
    width: 50px;
}

.form-box {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5em;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
    }

    .pure-form input[type] {
        margin-right: 0.8em;
    }